<!doctype html>
<html lang="en" ng-app="scrumstory">
<head>
	<title>Scrum User Story</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script src="script/app.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<style>
		input:focus{
			outline: 0;
		}
	</style>
</head>
<body>
	<div class="container theme-showcase" role="main" ng-controller="TemplateController as template">
		<h1>User Story Template</h1>
		<h2><hr /></h2>
		<form ng-controller="TemplateController" novalidate>
			<!-- Live Preview -->

			<blockquote ng-hide="blockquoteHide">
				As a <strong> {{story.role}}</strong>  I want 
				<strong> {{story.goal}}</strong>
				so that <strong>   {{story.benefit}} </strong>
			</blockquote>
			<br><br><br>
			<!--Final template -->
			<div ng-show="finalTextShow" style="background-color: #2EEB15;left: 80px;outline: 1px solid rgba(255, 255, 255, 0.5);position: absolute;text-align: center;top:135px;left:500px;width: 155px;z-index: 99;">Press CTRL-C to copy</div>
			<div ng-show="finalTextShow" style="border-bottom: transparent;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #2EEB15;top:155px;left: 570px;outline: none;margin: 0 0 0 -5px;position: absolute;"></div>
			<input ng-show="finalTextShow" style="width:100%;border:0px solid #ff0000;font-size:16px" 										ng-model="finalText" auto-select="finalTextShow" ng-click="highlightMe($event)"> </input>

			<h1><hr /><h1>

				<h4>As a </h4>
				<fieldset class="form-group">
					<input ng-model="story.role" class="form-control" placeholder="role" title="Role" required />
				</fieldset><h4>I want </h4>
				<fieldset class="form-group">
					<textarea ng-model="story.goal" class="form-control" placeholder="goal/desire" title="Goal/Desire" required /> 
				</fieldset><h4>so that </h4>
				<fieldset class="form-group">
					<textarea  ng-model="story.benefit"  class="form-control" placeholder="benefit" 
					title="Benefit" /> 
				</fieldset>	

				<fieldset class="form-group">
					<button ng-click="storyReady()" ng-disabled="isDisable()" class="btn btn-primary btn-lg">Done</button>
					<button ng-click="reset()" class="btn btn-warning btn-lg">Reset</button>
				</fieldset>
		</form>

	<div> <!-- container -->

</body>
</html>
